<nav class="ir-nav">
    <NavLink class="ir-nav-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink class="ir-nav-link" href="rules">Rules</NavLink>
    <NavLink class="ir-nav-link" href="targets">Targets</NavLink>
    <NavLink class="ir-nav-link" href="history">History</NavLink>
    <div class="ir-nav-section">Settings</div>
    <NavLink class="ir-nav-link" href="settings/users">Users</NavLink>
    <NavLink class="ir-nav-link" href="settings/auth">Authentication</NavLink>
    <NavLink class="ir-nav-link" href="settings/system">System</NavLink>
</nav>
